

html {
  background: #0A0101;
}

body {
  /*background: #EFE9E7;*/
  background: snow;
  /*font-family: -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Oxygen-Sans,
  Ubuntu,
  Cantarell,
  "Helvetica Neue",
  sans-serif;*/
  font-family: "EB Garamond";
  color: #0A0101;
  user-select: none;
  border: 1px solid #0A0101;
}

section {
  margin-bottom: 3rem;
  padding-bottom: 5rem;
  border-bottom: 1px solid #0A0101;
}

#intro {
  padding: 0;
  margin-bottom: 3rem;
  border-top: 10px solid #0A0101;
  border-bottom: 1px solid #0A0101;
  display: flex;
  align-items: center;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.navbar {
  background: #EFE9E7;
  color: black;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.navbar a {
  color: tomato;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 1.5rem;
  font-family: "Helvetica";
  font-weight: 700;
  letter-spacing: -1px;
  text-transform: lowercase;
}

h1 {
  font-size: 5rem;
  line-height: 0.9;
}

h1:before {
  content:'"';
  margin-right: .5rem;
  position: absolute;
  left: -1.5rem;
}

h2 {
  font-size: 3rem;
}

/*h3:before {
  content:"(";
  margin-right: .5rem;
  color: #C20114;
}

h3:after {
  content:")";
  margin-left: .5rem;
  color: #C20114
}*/

hr {
  margin: 2rem 0;
}

#celeb {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-top: 2rem;
}

.event {
  flex-basis: 12rem;
  padding: 0.5rem;
  padding-bottom: 2rem;
  transition: opacity 0.3s ease;
}

.event:hover {
  cursor: pointer;
}

.event p {
  max-width: 80%;
  position: relative;
  margin-left: 30%;
  font-size: 1rem;
  line-height: 1.3;
  margin-bottom: 0.2rem;
}

.event .glyph {
  position: absolute;
}

.event .location {
  text-transform: uppercase;
  font-size: 0.8rem;
}

.event .year {
  font-weight: bold;
}

.event .gender {
  font-weight: bold;
  float: left;
  margin-right: 0.5rem;
}

.state {
  font-family: "Helvetica";
  font-size: 1.2rem;
  font-weight: bold;
}

#details {
  min-height: 5rem;
  transition: all 0.3s ease;
}

svg {
  margin: auto;
  margin-bottom: 2rem;
}

.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
}

.domain {
  stroke: #777;
  display: none;
}

.tick text {
  font-size: 0.8rem;
  font-family: -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Oxygen-Sans,
  Ubuntu,
  Cantarell,
  "Helvetica Neue",
  sans-serif;
}

.yAxis .tick line, .xAxis .tick line {
  stroke-width: 0.5;
  stroke: #777;
}

.xAxis .tick line {
  stroke-dasharray: 2,2;
}

.tick text {
  fill: #777;
}

.buttons {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: baseline;
}

.buttons p {
  margin-right: 0.5rem;
}

button {
  padding: 0.2rem 0.5rem;
  border: 1px solid rgba(0,0,0,.3);
  border-radius: 1px;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: all 0.3s ease;
  outline: none;
  font-family: "Helvetica";
}

button:focus {
  outline: none;
}

.circ {
  transition: opacity 0.3s ease;
}


.circ:hover {
  cursor: pointer;
}

.b_sel {
  border: 1px solid #0A0101;
  background: snow;
  color: #0A0101;
}

.b_sel:hover {
  background: rgba(0, 0, 0, 0.3);
}

.d_sel {
  border: 1px solid #C20114;
  background: snow;
  color: #C20114;
}

.d_sel:hover {
  background: rgba(244, 67, 54, 0.3);
}

.d_del {
  background: grey;
  color: white;
  border: 1px solid rgba(0,0,0,.2);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.disabled {
  pointer-events: none;
  cursor: normal;
}

.selected {
  color: white;
}

.source {
  font-style: italic;
  font-size: 0.8rem;
  color: #777;
}

#tooltip {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  background: white;
  width: 10rem;
  padding: 1rem;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 2px;
}

.info {
  fill: black;
  font-size: 1rem;
  margin-bottom: 0;
}

.date {
  font-weight: bold;
}

#killingbees-ui {
  margin-bottom: 1rem;
}

.footer {
  background: #0A0101;
  margin-top: 1rem;
  color: snow;
  padding: 2rem 0;
}

@media only screen and (max-width : 1224px) {
body {
  font-size: 0.9rem;
}

  #detCont {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 9999;
  }
}